django==4.2

# to support image field in db
pillow==10.2.0

django-resized
django-robots==6.1
django-taggit==1.4.0
django-summernote
django-simple-captcha==0.5.20
# captcha for admin
django-multi-captcha-admin==2.0.0

django_compressor==4.5.1
python-decouple==3.8

# prod db
psycopg2-binary==2.9.9

# for development
django_extensions==3.2.3
pyparsing
pydot

django-debug-toolbar==3.2.1

gunicorn