<!DOCTYPE html>
<html lang="en-US">

 
<!-- => ALDev @ market.radib.com <= blog-single.html => Uploaded at Radib File Markket <=  [XR&CO'2014], Sat, 29 Jan 2022 11:37:26 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
  <meta charset="utf-8">
  <title>کورنو - قالب بلاگ مینیمال اچ تی ام ال </title>

  <meta name="author" content="Platol">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="Minimal Blog HTML Template">

  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

  <!-- CSS Plugins -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&amp;family=Work+Sans:wght@500;600&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/tabler-icons/tabler-icons.min.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold mb-0" href="index.html" title="Qurno">
            <img class="img-fluid" width="110" height="35" src="assets/images/logo.png" alt="Qurno">
          </a>

          <button class="search-toggle d-inline-block d-lg-none me-auto ms-1 ms-sm-3" data-toggle="search" aria-label="Search Toggle">
            <span>جستجو</span>
            <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </button>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 d-inline"></i>
            <i class="ti ti-x d-none"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item @@home">
                <a class="nav-link" href="index.html">خانه</a>
              </li>
              <li class="nav-item @@about">
                <a class="nav-link" href="about.html">درباره ما</a>
              </li>
              <li class="nav-item @@elements">
                <a class="nav-link" href="elements.html">عناصر</a>
              </li>
              <li class="nav-item @@archive">
                <a class="nav-link" href="archive.html">آرشیو</a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="contact.html">ارتباط با ما</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="author.html">نویسنده</a></li>
                  <li><a class="dropdown-item" href="author-single.html">جزییات نویسنده</a></li>
                  <li><a class="dropdown-item" href="tags.html">برچسب‌ها</a></li>
                  <li><a class="dropdown-item" href="tag-single.html">جزییات برچسب‌ها </a></li>
                  <li><a class="dropdown-item" href="categories.html">دسته‌بندی‌ها</a></li>
                  <li><a class="dropdown-item" href="categories-single.html">جزییات دسته‌بندی‌ها</a></li>
                  <li><a class="dropdown-item" href="404-page.html">خطا 404</a></li>
                  <li><a class="dropdown-item" href="privacy.html">حریم شخصی</a></li>
                </ul>
              </li>
            </ul>
            
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ms-4 d-none d-lg-inline-block">
                  <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                    <span>جستجو</span>
                    <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </button>
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="search-block">
  <div data-toggle="search-close">
    <span class="ti ti-x text-primary"></span>
  </div>
  
  <input type="text" id="js-search-input" placeholder="تایپ کنید دنبال چه هستید..." aria-label="search-query">

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">دیدن پست ها بر اساس برچسب</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">زندگی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">سبک زندگی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">آگاهی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">ماشین</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">استارت اپ</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">کار</a>
      </li>
    </ul>
  </div>

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">دیدن پست بر اساس دسته‌بندی</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">هوش مصنوعی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">زمین</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">تکنولوژی</a>
      </li>
    </ul>
  </div>
</div>

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="mb-5">
          <h3 class="h1 mb-4 post-title"> برای ایجاد یک شی که در 1٪ سرعت نور حرکت می کند، چه کاری انجام می دهد؟</h3>

          <ul class="card-meta list-inline mb-2">
            <li class="list-inline-item mt-2">
              <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط - توماس ماکبی">
                <img class="w-auto" src="assets/images/author/thomas-macaulay.jpg" alt="توماس ماکبی" width="26" height="26"> توسط <span>توماس ماکبی</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>02 دقیقه خوانش</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>17 دی، 1400</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-5 text-center">
          <img class="w-100 h-auto rounded" src="assets/images/blog/03.jpg" alt="What does it take to create an object that travels at 1% the speed of light?" width="970" height="500">
        </div>
      </div>
      <div class="col-lg-2 post-share-block order-1 order-lg-0 mt-5 mt-lg-0">
        <div class="position-sticky" style="top:150px">
          <span class="d-inline-block mb-3 small"> اشتراک گذاری </span>
          <ul class="social-share icon-box">
            <li class="d-inline-block d-lg-block me-2 mb-2" onclick="return tbs_click()"><i class="ti ti-brand-twitter"></i></li>
            <li class="d-inline-block d-lg-block me-2 mb-2" onclick="return fbs_click()"><i class="ti ti-brand-facebook"></i></li>
            <li class="d-inline-block d-lg-block me-2 mb-2" onclick="return ins_click()"><i class="ti ti-brand-linkedin"></i></li>
            <li class="d-inline-block d-lg-block me-2 mb-2" onclick="return red_click()"><i class="ti ti-brand-reddit"></i></li>
            <li class="d-inline-block d-lg-block me-2 mb-2" onclick="return pin_click()"><i class="ti ti-brand-pinterest"></i></li>
          </ul>
        </div>
        <script type="text/javascript">
          var pageLink = window.location.href;
          var pageTitle = String(document.title).replace(/\&/g, '%26');
          function tbs_click(){pageLink = 'https://twitter.com/intent/tweet?text=${pageTitle}&amp;url=${pageLink}';socialWindow(pageLink, 570, 570);}
          function fbs_click(){pageLink = 'https://www.facebook.com/sharer.php?u=${pageLink}&amp;quote=${pageTitle}';socialWindow(pageLink, 570, 570);}
          function ins_click(){pageLink = 'https://www.linkedin.com/sharing/share-offsite/?url=${pageLink}';socialWindow(pageLink, 570, 570);}
          function red_click(){pageLink = 'https://www.reddit.com/submit?url=${pageLink}';socialWindow(pageLink, 570, 570);}
          function pin_click(){pageLink = 'https://www.pinterest.com/pin/create/button/?&amp;text=${pageTitle}&amp;url=${pageLink}&amp;description=${pageTitle}';socialWindow(pageLink, 570, 570);}
          function socialWindow(pageLink, width, height){var left = (screen.width - width) / 2;var top = (screen.height - height) / 2;var params = "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",top=" + top + ",left=" + left;window.open(pageLink,"",params);}
        </script>
      </div>
      <div class="col-lg-8 post-content-block order-0 order-lg-2">
        <div class="content">
          <p>نور سریع استدر واقع، این سریع ترین چیزی است که وجود دارد، و قانون جهان این است که هیچ چیز نمی تواند سریعتر از نور حرکت کند.نور سفر در 186,000 مایلز در هر ثانیه (300000 کیلومتر در ثانیه) و می تواند از زمین به ماه در بیش از یک ثانیه برود.نور می تواند از لس آنجلس به نیویورک در کمتر از یک چشمک زدن، از بین برود.</p>
          <p> در حالی که 1٪ از هر چیزی به نظر نمی رسد بسیار، با نور، که هنوز هم واقعا سریع - نزدیک به 7 میلیون مایل در ساعت!در 1٪ سرعت نور، آن را کمی بیش از یک ثانیه طول می کشد تا از لس آنجلس به نیویورک دریافت کنید.این بیش از 10،000 برابر سریعتر از یک جت تجاری است.</p>
          <h3 id="why-even-1-of-light-speed-is-hard">چرا حتی 1٪ از سرعت نور سخت است</h3>
          <p>چه بشریت را از دست دادن 1٪ از سرعت نور نگه می دارد؟در یک کلمه، انرژی.هر شی که در حال حرکت است، انرژی را به دلیل حرکت آن دارد.فیزیکدانان این انرژی جنبشی را می نامند.برای رفتن سریعتر، شما نیاز به افزایش انرژی جنبشی دارید.مشکل این است که انرژی جنبشی زیادی برای افزایش سرعت طول می کشد.برای ایجاد چیزی دو برابر سریع، چهار برابر انرژی طول می کشد.ساختن چیزی به سه برابر سریعتر نیاز به 9 برابر انرژی دارد و غیره.</p>
          <p><img src="../images.theconversation.com/files/429627/original/file-20211101-25-c3f9c93c0b3c0b.html?ixlib=rb-1.1.0&amp;q=30&amp;auto=format&amp;w=754&amp;h=522&amp;fit=crop&amp;dpr=2" alt="The Parker Solar Probe" title="The Parker Solar Probe"></p>
          <p>به عنوان مثال، برای دریافت یک نوجوان که وزن 110 پوند (50 کیلوگرم) به 1٪ از سرعت نور، هزینه 200 تریلیون ژول (اندازه گیری انرژی) هزینه می شود.این تقریبا همان مقدار انرژی است که 2 میلیون نفر در U.S. در روز استفاده می کنند.</p>
          <h3 id="how-fast-can-we-go">چقدر سریع می توانیم برویم؟</h3>
          <p>ممکن است چیزی را به 1٪ سرعت نور دریافت کنید، اما فقط مقدار زیادی انرژی را مصرف می کنید.آیا انسان می تواند چیزی را سریعتر کند؟</p>
          <p>آره!اما مهندسان باید راه های جدیدی را برای ساختن چیزها در فضا حرکت دهند.تمام موشک ها، حتی موشک های جدید براق که توسط ریشه های بلو و بلو استفاده می شوند، سوخت موشک را سوزاندند که از بنزین در یک ماشین بسیار متفاوت نیست.مشکل این است که سوخت سوخت بسیار ناکارآمد است.</p>
          <p>روش های دیگر برای فشار دادن یک فضاپیما شامل استفاده از نیروهای الکتریکی یا مغناطیسی است.فیوژن هسته ای، فرایندی که خورشید را قدرت می کند، بسیار کارآمدتر از سوخت شیمیایی است.</p>
        </div>

        <ul class="post-meta-tag list-unstyled list-inline mt-5">
          <li class="list-inline-item"> برچسب ها: </li>
          <li class="list-inline-item"><a class="bg-white" href="tag-single.html">زندگی</a></li>
          <li class="list-inline-item"><a class="bg-white" href="tag-single.html">آگاهی</a></li>
        </ul>
      </div>
    </div>

    
    <div class="single-post-author">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="d-block d-md-flex">
            <a href="author-single.html">
              <img class="rounded mr-4" src="assets/images/author/thomas-macaulay.jpg" alt="توماس ماکبی" width="155" height="155">
            </a>
            <div class="ms-0 ms-md-4 ps-0 ps-md-3 mt-4 mt-md-0">
              <h3 class="h4 mb-3"><a href="author-single.html" class="text-dark">توماس ماکبی</a></h3>
              <p> کریس ایپلی یک نویسنده در شهر نیویورک است.او علاقه مند به همه چیز فناوری، علم و عکاسی مرتبط است، و دوست دارد به یو یو در زمان آزاد خود را. …</p>
              <div class="content"><a href="author-single.html">تمام پست های این نویسنده را ببینید <i class="ti ti-arrow-up-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="disqus-comment">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="block"><div id="disqus_thread"></div>
            <script type="application/javascript">
              var disqus_config = function () {};
              (function() {
                if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
                  document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.';
                  return;
                }
                var d = document, s = d.createElement('script'); s.async = true;
                s.src = '//' + "platol" + '.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>لطفا جاوا اسکریپت را فعال کنید <a href="https://disqus.com/?ref_noscript">نظرات توسط دیسکاس طراحی شده است.</a></noscript>
            <a href="https://disqus.com/" class="dsq-brlink">نظرات توسط <span class="logo-disqus">دیسکاس</span></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="single-post-similer">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 class="section-title">
              <span>پست های مرتبط</span>
            </h2>
          </div>
          <div class="row gy-5 gx-4 g-xl-5">
            
              
            <div class="col-lg-6">
              <article class="card post-card h-100 border-0 bg-transparent">
                <div class="card-body">
                  <a class="d-block" href="blog-single.html" title="آنچه شما می خواستید در مورد متاورس بدانید">
                    <div class="post-image position-relative">
                      <img class="w-100 h-auto rounded" src="assets/images/blog/04.jpg" alt="آنچه شما می خواستید در مورد متاورس بدانید" width="970" height="500">
                    </div>
                  </a>
                  <ul class="card-meta list-inline mb-3">
                    <li class="list-inline-item mt-2">
                      <i class="ti ti-calendar-event"></i>
                      <span>16 دی، 1400</span>
                    </li>
                    <li class="list-inline-item mt-2">—</li>
                    <li class="list-inline-item mt-2">
                      <i class="ti ti-clock"></i>
                      <span>01 دقیقه خوانش</span>
                    </li>
                  </ul>
                  <a class="d-block" href="blog-single.html"
                    title="آنچه شما می خواستید در مورد متاورس بدانید">
                    <h3 class="mb-3 post-title">
                      آنچه شما می خواستید در مورد متاورس بدانید
                    </h3>
                  </a>
                  <p>در پی فیده فیس بوک به عنوان متا، منعکس کننده تمرکز خود را بر روی "متاورس"، مایکروسافت در حال حاضر آن را اعلام کرده است، نیز به این فضا راه اندازی خواهد شد. …</p>
                </div>
                <div class="card-footer border-top-0 bg-transparent p-0">
                  <ul class="card-meta list-inline">
                    <li class="list-inline-item mt-2">
                      <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط - اما هازل">
                        <img class="w-auto" src="assets/images/author/emma-hazel.jpg" alt="اما هازل" width="26" height="26"> توسط <span>اما</span>
                      </a>
                    </li>
                    <li class="list-inline-item mt-2">•</li>
                    <li class="list-inline-item mt-2">
                      <ul class="card-meta-tag list-inline">
                        <li class="list-inline-item small"><a href="tag-single.html">زندگی</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
            
            <div class="col-lg-6">
              <article class="card post-card h-100 border-0 bg-transparent">
                <div class="card-body">
                  <a class="d-block" href="blog-single.html" title=" بخار از قطار خارج می شود">
                    <div class="post-image position-relative">
                      <img class="w-100 h-auto rounded" src="assets/images/blog/02.jpg" alt=" بخار از قطار خارج می شود" width="970" height="500">
                    </div>
                  </a>
                  <ul class="card-meta list-inline mb-3">
                    <li class="list-inline-item mt-2">
                      <i class="ti ti-calendar-event"></i>
                      <span>05 دی، 1400</span>
                    </li>
                    <li class="list-inline-item mt-2">—</li>
                    <li class="list-inline-item mt-2">
                      <i class="ti ti-clock"></i>
                      <span>02 دقیقه خوانش</span>
                    </li>
                  </ul>
                  <a class="d-block" href="blog-single.html"
                    title=" بخار از قطار خارج می شود">
                    <h3 class="mb-3 post-title">
                       بخار از قطار خارج می شود
                    </h3>
                  </a>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است …</p>
                </div>
                <div class="card-footer border-top-0 bg-transparent p-0">
                  <ul class="card-meta list-inline">
                    <li class="list-inline-item mt-2">
                      <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط - توماس ماکبی">
                        <img class="w-auto" src="assets/images/author/thomas-macaulay.jpg" alt="توماس ماکبی" width="26" height="26"> توسط <span>توماس</span>
                      </a>
                    </li>
                    <li class="list-inline-item mt-2">•</li>
                    <li class="list-inline-item mt-2">
                      <ul class="card-meta-tag list-inline">
                        <li class="list-inline-item small"><a href="tag-single.html">ماشین</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- start of footer -->
<footer>
  <div class="container">
    <div class="section">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
          <!-- newsletter block -->
          <div class="newsletter-block">
            <h2 class="section-title text-center mb-4">آخرین پست ها را در صندوق ایمیل خود داشته باشید</h2>
            <form action="#!" method="post" novalidate>
              <div class="input-group flex-column flex-sm-row flex-nowrap flex-sm-nowrap">
                <input type="email" name="email" class="form-control required email w-auto text-center text-sm-start" placeholder="آدرس ایمیل شما" aria-label="Subscription" required>
                <div class="input-group-append d-flex d-sm-inline-block mt-2 mt-sm-0 ms-0 w-auto">
                  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="input-group-text w-100 justify-content-center" aria-label="Subscription Button"><i class="ti ti-user-plus ms-2"></i>ملحق شوید</button>
                </div>
              </div>
            </form>
          </div>
          <!-- newsletter block -->
        </div>
      </div>
    </div>
    <div class="pb-5">
      <div class="row g-2 g-lg-4 align-items-center">
        <div class="col-lg-6 text-center text-lg-end">
          <p class="mb-0 copyright-text content">&copy; 1400 کورنو . همه حقوق محفوظ است .</p>
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <ul class="list-inline footer-menu">
            <li class="list-inline-item m-0"><a href="privacy.html">حریم شخصی</a></li>
            <li class="list-inline-item m-0"><a href="404-page.html">خطا 404</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end of footer -->

<!-- JS Plugins -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/lightense/lightense.min.js"></script>

<!-- Main Script -->
<script src="assets/js/script.js"></script>

</body>
<!-- => ALDev @ market.radib.com <= blog-single.html => Uploaded at Radib File Markket <=  [XR&CO'2014], Sat, 29 Jan 2022 11:37:26 GMT -->
</html>