<!DOCTYPE html>
<html lang="en-US">

 
<!-- => ALDev @ market.radib.com <= categories-single.html => Uploaded at Radib File Markket <=  [XR&CO'2014], Sat, 29 Jan 2022 11:37:26 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
  <meta charset="utf-8">
  <title>کورنو - قالب بلاگ مینیمال اچ تی ام ال </title>

  <meta name="author" content="Platol">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="Minimal Blog HTML Template">

  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

  <!-- CSS Plugins -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&amp;family=Work+Sans:wght@500;600&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/tabler-icons/tabler-icons.min.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold mb-0" href="index.html" title="Qurno">
            <img class="img-fluid" width="110" height="35" src="assets/images/logo.png" alt="Qurno">
          </a>

          <button class="search-toggle d-inline-block d-lg-none me-auto ms-1 ms-sm-3" data-toggle="search" aria-label="Search Toggle">
            <span>جستجو</span>
            <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </button>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 d-inline"></i>
            <i class="ti ti-x d-none"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item @@home">
                <a class="nav-link" href="index.html">خانه</a>
              </li>
              <li class="nav-item @@about">
                <a class="nav-link" href="about.html">درباره ما</a>
              </li>
              <li class="nav-item @@elements">
                <a class="nav-link" href="elements.html">عناصر</a>
              </li>
              <li class="nav-item @@archive">
                <a class="nav-link" href="archive.html">آرشیو</a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="contact.html">ارتباط با ما</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="author.html">نویسنده</a></li>
                  <li><a class="dropdown-item" href="author-single.html">جزییات نویسنده</a></li>
                  <li><a class="dropdown-item" href="tags.html">برچسب‌ها</a></li>
                  <li><a class="dropdown-item" href="tag-single.html">جزییات برچسب‌ها </a></li>
                  <li><a class="dropdown-item" href="categories.html">دسته‌بندی‌ها</a></li>
                  <li><a class="dropdown-item" href="categories-single.html">جزییات دسته‌بندی‌ها</a></li>
                  <li><a class="dropdown-item" href="404-page.html">خطا 404</a></li>
                  <li><a class="dropdown-item" href="privacy.html">حریم شخصی</a></li>
                </ul>
              </li>
            </ul>
            
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ms-4 d-none d-lg-inline-block">
                  <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                    <span>جستجو</span>
                    <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </button>
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="search-block">
  <div data-toggle="search-close">
    <span class="ti ti-x text-primary"></span>
  </div>
  
  <input type="text" id="js-search-input" placeholder="تایپ کنید دنبال چه هستید..." aria-label="search-query">

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">دیدن پست ها بر اساس برچسب</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">زندگی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">سبک زندگی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">آگاهی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">ماشین</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">استارت اپ</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">کار</a>
      </li>
    </ul>
  </div>

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">دیدن پست بر اساس دسته‌بندی</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">هوش مصنوعی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">زمین</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">تکنولوژی</a>
      </li>
    </ul>
  </div>
</div>

<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="mb-2">نمایش پست از</p>
        <h1 class="section-title h2 mb-3">
          <span>تکنولوژی</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="index.html"><i class="ti ti-home"></i>  <span>خانه</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="categories.html"><span>دسته‌بندی‌ها</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="categories-single.html"><span>تکنولوژی</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row gy-5 gx-4 g-xl-5">
    <div class="col-lg-6">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
          <a class="d-block" href="blog-single.html"
            title=" چگونه می توان یک توسعه دهنده را به طور مستقیم استخدام کرد ">
            <div class="post-image position-relative">
              <img class="w-100 h-auto rounded" src="assets/images/blog/07.jpg" alt=" چگونه می توان یک توسعه دهنده را به طور مستقیم استخدام کرد " width="970" height="500">
            </div>
          </a>
          <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>15 دی، 1400</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>03 دقیقه خوانش</span>
            </li>
          </ul>
          <a class="d-block" href="blog-single.html"
            title=" چگونه می توان یک توسعه دهنده را به طور مستقیم استخدام کرد ">
            <h3 class="mb-3 post-title">
               چگونه می توان یک توسعه دهنده را به طور مستقیم استخدام کرد 
            </h3>
          </a>
          <p>در اینجا کمبود استعداد در سراسر جهان در توسعه نرم افزار است، و تقریبا یک سوم از مدیران استخدام شده است
            کسی را از یک کدگذاری برای کمک به استخدام کرد …
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
          <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
              <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط -  کریس ایپلی">
                <img class="w-auto" src="assets/images/author/chris-impey.jpg" alt=" کریس ایپلی" width="26" height="26"> توسط <span>کریس</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item small"><a href="tag-single.html">سبک زندگی</a></li>
                <li class="list-inline-item small"><a href="tag-single.html">استارت اپ</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
    </div>
    
    <div class="col-lg-6">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
          <a class="d-block" href="blog-single.html"
            title="Why developers are so divided over WordPress">
            <div class="post-image position-relative">
              <img class="w-100 h-auto rounded" src="assets/images/blog/09.jpg" alt="Why developers are so divided over WordPress" width="970" height="500">
            </div>
          </a>
          <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>12 آذر، 1400</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>03 دقیقه خوانش</span>
            </li>
          </ul>
          <a class="d-block" href="blog-single.html"
            title="Why developers are so divided over WordPress">
            <h3 class="mb-3 post-title">
             چرا توسعه دهندگان به وردپرس تقسیم می شوند
            </h3>
          </a>
          <p>پس از دیدن وردپرس، پلت فرم ترسناک ترین پلت فرم را در نظرسنجی توسعه دهندگان پشته فشار برای دو سال
            در یک ردیف (1400 و 1401)، چند هفته پیش ما …</p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
          <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
              <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط - توماس ماکبی">
                <img class="w-auto" src="assets/images/author/thomas-macaulay.jpg" alt="توماس ماکبی" width="26" height="26"> توسط <span>توماس</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item small"><a href="tag-single.html">کار</a></li>
                <li class="list-inline-item small"><a href="tag-single.html">سبک زندگی</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
    </div>
    
    <div class="col-lg-6">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
          <a class="d-block" href="blog-single.html" title="من 5 ساعت در روز کار می کنم، و من هرگز مولد تر نیستم">
            <div class="post-image position-relative">
              <img class="w-100 h-auto rounded" src="assets/images/blog/08.jpg" alt="من 5 ساعت در روز کار می کنم، و من هرگز مولد تر نیستم" width="970" height="500">
            </div>
          </a>
          <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>12 آذر، 1400</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>03 دقیقه خوانش</span>
            </li>
          </ul>

          <a class="d-block" href="blog-single.html" title="من 5 ساعت در روز کار می کنم، و من هرگز مولد تر نیستم"><h3 class="mb-3 post-title">
           من 5 ساعت در روز کار می کنم، و من هرگز مولد تر نیستم
          </h3></a>
          <p>با 9 تا 5 سنتی، خیلی اشتباه است: کار نمی کند.کشورهای اسکاندیناوی بر گزارش خوشبختی جهان حکومت می کنند - نروژ بودن …</p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
          <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
              <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط -  کریس ایپلی">
                <img class="w-auto" src="assets/images/author/chris-impey.jpg" alt=" کریس ایپلی" width="26" height="26">
                توسط <span>کریس</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item small"><a href="tag-single.html">کار</a></li>
                <li class="list-inline-item small"><a href="tag-single.html">سبک زندگی</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
    </div>
    
    <div class="col-lg-6">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
          <a class="d-block" href="blog-single.html" title="شروع راه اندازی می خواهید شما را باور کنید که می توانند کار خود را جایگزین کنند - برای آن سقوط نکنید">
            <div class="post-image position-relative">
              <img class="w-100 h-auto rounded" src="assets/images/blog/05.jpg" alt="شروع راه اندازی می خواهید شما را باور کنید که می توانند کار خود را جایگزین کنند - برای آن سقوط نکنید" width="970" height="500">
            </div>
          </a>
          <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>09 مهر، 1400</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>03 دقیقه خوانش</span>
            </li>
          </ul>

          <a class="d-block" href="blog-single.html" title="شروع راه اندازی می خواهید شما را باور کنید که می توانند کار خود را جایگزین کنند - برای آن سقوط نکنید"><h3 class="mb-3 post-title">
            شروع راه اندازی می خواهید شما را باور کنید که می توانند کار خود را جایگزین کنند - برای آن سقوط نکنید
          </h3></a>
          <p>هنوز شغل روز خود را ترک نکنید.این پیامی است که باید ضمنی باشد - اگر به صراحت بیان نشود - به هر متقاضی هر کنگره و خالق …</p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
          <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
              <a href="author-single.html" class="card-meta-author" title="خواندن پست نوشته شده توسط -  کریس ایپلی">
                <img class="w-auto" src="assets/images/author/chris-impey.jpg" alt=" کریس ایپلی" width="26" height="26">
                توسط <span>کریس</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item small"><a href="tag-single.html">سبک زندگی</a></li>
                <li class="list-inline-item small"><a href="tag-single.html">استارت اپ</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>

<!-- start of footer -->
<footer>
  <div class="container">
    <div class="section">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
          <!-- newsletter block -->
          <div class="newsletter-block">
            <h2 class="section-title text-center mb-4">آخرین پست ها را در صندوق ایمیل خود داشته باشید</h2>
            <form action="#!" method="post" novalidate>
              <div class="input-group flex-column flex-sm-row flex-nowrap flex-sm-nowrap">
                <input type="email" name="email" class="form-control required email w-auto text-center text-sm-start" placeholder="آدرس ایمیل شما" aria-label="Subscription" required>
                <div class="input-group-append d-flex d-sm-inline-block mt-2 mt-sm-0 ms-0 w-auto">
                  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="input-group-text w-100 justify-content-center" aria-label="Subscription Button"><i class="ti ti-user-plus ms-2"></i>ملحق شوید</button>
                </div>
              </div>
            </form>
          </div>
          <!-- newsletter block -->
        </div>
      </div>
    </div>
    <div class="pb-5">
      <div class="row g-2 g-lg-4 align-items-center">
        <div class="col-lg-6 text-center text-lg-end">
          <p class="mb-0 copyright-text content">&copy; 1400 کورنو . همه حقوق محفوظ است .</p>
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <ul class="list-inline footer-menu">
            <li class="list-inline-item m-0"><a href="privacy.html">حریم شخصی</a></li>
            <li class="list-inline-item m-0"><a href="404-page.html">خطا 404</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end of footer -->

<!-- JS Plugins -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/lightense/lightense.min.js"></script>

<!-- Main Script -->
<script src="assets/js/script.js"></script>

</body>
<!-- => ALDev @ market.radib.com <= categories-single.html => Uploaded at Radib File Markket <=  [XR&CO'2014], Sat, 29 Jan 2022 11:37:26 GMT -->
</html>