<!DOCTYPE html>
<html lang="en-US">

 
<!-- => ALDev @ market.radib.com <= elements.html => Uploaded at Radib File Markket <=  [XR&CO'2014], Sat, 29 Jan 2022 11:37:25 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
  <meta charset="utf-8">
  <title>کورنو - قالب بلاگ مینیمال اچ تی ام ال </title>

  <meta name="author" content="Platol">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="Minimal Blog HTML Template">

  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

  <!-- CSS Plugins -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&amp;family=Work+Sans:wght@500;600&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/tabler-icons/tabler-icons.min.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold mb-0" href="index.html" title="Qurno">
            <img class="img-fluid" width="110" height="35" src="assets/images/logo.png" alt="Qurno">
          </a>

          <button class="search-toggle d-inline-block d-lg-none me-auto ms-1 ms-sm-3" data-toggle="search" aria-label="Search Toggle">
            <span>جستجو</span>
            <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </button>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 d-inline"></i>
            <i class="ti ti-x d-none"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item @@home">
                <a class="nav-link" href="index.html">خانه</a>
              </li>
              <li class="nav-item @@about">
                <a class="nav-link" href="about.html">درباره ما</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="elements.html">عناصر</a>
              </li>
              <li class="nav-item @@archive">
                <a class="nav-link" href="archive.html">آرشیو</a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="contact.html">ارتباط با ما</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="author.html">نویسنده</a></li>
                  <li><a class="dropdown-item" href="author-single.html">جزییات نویسنده</a></li>
                  <li><a class="dropdown-item" href="tags.html">برچسب‌ها</a></li>
                  <li><a class="dropdown-item" href="tag-single.html">جزییات برچسب‌ها </a></li>
                  <li><a class="dropdown-item" href="categories.html">دسته‌بندی‌ها</a></li>
                  <li><a class="dropdown-item" href="categories-single.html">جزییات دسته‌بندی‌ها</a></li>
                  <li><a class="dropdown-item" href="404-page.html">خطا 404</a></li>
                  <li><a class="dropdown-item" href="privacy.html">حریم شخصی</a></li>
                </ul>
              </li>
            </ul>
            
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ms-4 d-none d-lg-inline-block">
                  <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                    <span>جستجو</span>
                    <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </button>
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="search-block">
  <div data-toggle="search-close">
    <span class="ti ti-x text-primary"></span>
  </div>
  
  <input type="text" id="js-search-input" placeholder="تایپ کنید دنبال چه هستید..." aria-label="search-query">

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">دیدن پست ها بر اساس برچسب</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">زندگی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">سبک زندگی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">آگاهی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">ماشین</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">استارت اپ</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="tag-single.html">کار</a>
      </li>
    </ul>
  </div>

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">دیدن پست بر اساس دسته‌بندی</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">هوش مصنوعی</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">زمین</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">تکنولوژی</a>
      </li>
    </ul>
  </div>
</div>

<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>عناصر</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="index.html"><i class="ti ti-home"></i>  <span>خانه</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="elements.html"><span>عناصر</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="content">
          <h3 id="elements">عناصر</h3>
          <p>این صفحه برخی از عناصر اساسی و تایپوگرافی را نشان می دهد که شما اغلب در سایت خود استفاده می کنید.متن <strong> جسورانه </ strong> را ایجاد کنید یا آن را <em> ایتالیایی </em> ایجاد کنید.چرا <strong> <em> جسورانه و ایتالیایی</em> </strong> هر دو در یک زمان نیست.در اینجا لینک به<a href="https://gohugo.io/"> هیوج </a> سایت اینترنتی.آیا می خواهید متن طولانی را پیوند دهید؟ <a href="https://gohugo.io/">در اینجا چگونه در این موضوع به نظر می رسد</a>.</p>
          <p>یو آر ال ها در زاویه های به طور خودکار به لینک تبدیل می شوند. <a href="https://gohugo.io/">https://gohugo.io/</a> یا <a href="https://gohugo.io/">https://gohugo.io/</a> و گاهی اوقات مثال (اما نه در گیت هاب به عنوان مثال).</p>
          <h1 id="heading-one">عنوان یک</h1>
          <h2 id="heading-two">عنوان دو</h2>
          <h3 id="heading-three">عنوان سه</h3>
          <h4 id="heading-four">عنوان چهار</h4>
          <h5 id="heading-five">عنوان پنج</h5>
          <h6 id="heading-six">عنوان شش</h6>
          <h3 id="paragraph">پاراگراف</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
          <p> نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

          <hr>

          <h3 id="ordered-list"> فهرست مرتب شده</h3>
          <ol>
          <li>جهش به تایپ الکترونیکی</li>
          <li>این در دهه 1960 محبوب شد</li>
          <li>به تازگی با نرم افزار انتشار دسکتاپ</li>
          <li>یک چاپگر ناشناخته یک استخر را گرفت</li>
          <li>این نه تنها پنج قرن زنده ماند</li>
          </ol>

          <hr>

          <h3 id="unordered-list">لیست نامرتب</h3>
          <ul>
            <li>جهش به تایپ الکترونیکی</li>
            <li>این در دهه 1960 محبوب شد</li>
            <li>به تازگی با نرم افزار انتشار دسکتاپ</li>
            <li>یک چاپگر ناشناخته یک استخر را گرفت</li>
            <li>این نه تنها پنج قرن زنده ماند</li>
          </ul>

          <hr>
          
          <h3 id="blockquote">نقل قول</h3>
          <blockquote>
          <p>از زمان آغاز آن در دهه 1950، زمینه هوش مصنوعی چندین بار بین دوره های پیش بینی و سرمایه گذاری خوش بینانه دو برابر شده است
          <cite>الکساندر.</cite></p>
          </blockquote>

          <hr>
          
          <h3 id="twitter-card">کارت توییتر</h3>
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">جغد به شما شرط می بندم&#39;این مسابقه خیره کننده را از دست می دهید 🦉 <a href="https://t.co/eJh4f2zncC">pic.twitter.com/eJh4f2zncC</a></p>&mdash; اتحاد حیات وحش باغ وحش سان دیگو (@sandiegozoo) <a href="https://twitter.com/sandiegozoo/status/1453110110599868418?ref_src=twsrc%5Etfw">24 مهر ، 1400</a></blockquote>
          <script async src="../platform.twitter.com/widgets.html" charset="utf-8"></script>

          <hr>

          <h3 id="responsive-html-table">جدول HTML پاسخگو</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                  <th scope="col"> عنوان </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                  <td> سلول </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr>

          <h3 id="image">تصویر</h3>
          <figure>
            <img src="assets/images/blog/02.jpg" alt="image caption" title="این عنوان مثال است">
            <figcaption>این مثال عکس است</figcaption>
          </figure>

          <hr>
          
          <h3 id="gallery">گالری</h3>
          <div class="gallery">
            <img src="assets/images/blog/01.jpg" alt="image caption" title="این عنوان مثال است">
            <img src="assets/images/blog/02.jpg" alt="image caption" title="این عنوان مثال است">
            <img src="assets/images/blog/03.jpg" alt="image caption" title="این عنوان مثال است">
            <img src="assets/images/blog/04.jpg" alt="image caption" title="این عنوان مثال است">
            <img src="assets/images/blog/05.jpg" alt="image caption" title="این عنوان مثال است">
            <img src="assets/images/blog/06.jpg" alt="image caption" title="این عنوان مثال است">
          </div>

          <hr>
          
          <h3 id="youtube-video">ویدئو یوتیوب</h3>

          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe src="https://www.youtube.com/embed/NC0WPQd_bds" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
          </div>

          <hr>
          
          <h3 id="vimeo-video">ویدیو ویمو</h3>

          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe src="https://player.vimeo.com/video/341490793" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="vimeo video" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- start of footer -->
<footer>
  <div class="container">
    <div class="section">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
          <!-- newsletter block -->
          <div class="newsletter-block">
            <h2 class="section-title text-center mb-4">آخرین پست ها را در صندوق ایمیل خود داشته باشید</h2>
            <form action="#!" method="post" novalidate>
              <div class="input-group flex-column flex-sm-row flex-nowrap flex-sm-nowrap">
                <input type="email" name="email" class="form-control required email w-auto text-center text-sm-start" placeholder="آدرس ایمیل شما" aria-label="Subscription" required>
                <div class="input-group-append d-flex d-sm-inline-block mt-2 mt-sm-0 ms-0 w-auto">
                  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="input-group-text w-100 justify-content-center" aria-label="Subscription Button"><i class="ti ti-user-plus ms-2"></i>ملحق شوید</button>
                </div>
              </div>
            </form>
          </div>
          <!-- newsletter block -->
        </div>
      </div>
    </div>
    <div class="pb-5">
      <div class="row g-2 g-lg-4 align-items-center">
        <div class="col-lg-6 text-center text-lg-end">
          <p class="mb-0 copyright-text content">&copy; 1400 کورنو . همه حقوق محفوظ است .</p>
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <ul class="list-inline footer-menu">
            <li class="list-inline-item m-0"><a href="privacy.html">حریم شخصی</a></li>
            <li class="list-inline-item m-0"><a href="404-page.html">خطا 404</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end of footer -->

<!-- JS Plugins -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/lightense/lightense.min.js"></script>

<!-- Main Script -->
<script src="assets/js/script.js"></script>

</body>
<!-- => ALDev @ market.radib.com <= elements.html => Uploaded at Radib File Markket <=  [XR&CO'2014], Sat, 29 Jan 2022 11:37:25 GMT -->
</html>