{% load static %}
{% for post in latest_posts %}
    <div class="col-lg-6">
    <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
        <a class="d-block" href="{% url 'blog:single' pid=post.id %}" title={{ post.title }}>
            <div class="post-image position-relative">
            <img class="w-100 h-auto rounded" src={{ post.image.url }} alt={{ post.title }} width="970" height="auto" />
            </div>
        </a>
        <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
            <i class="ti ti-calendar-event"></i>
            <span>{{ post.published_date | date:"M Y"}}</span>
            </li>
            {% if post.read_duration_minutes %}
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
                
                <i class="ti ti-clock"></i>
                <span>{{ post.read_duration_minutes }} دقیقه خوانش</span>
            </li>
            {% endif %}
        </ul>
        <a class="d-block" href="{% url 'blog:single' pid=post.id %}" title={{ post.title }}><h3 class="mb-3 post-title">{{ post.title }}</h3></a>
        <p>{{ post.content | truncatewords:30 | linebreaks}}</p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
        <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
            <a href="{% url 'blog:author' author_username=post.author.username %}" class="card-meta-author" title="خواندن پست نوشته شده توسط - {{ post.author }}">
                    توسط 
                    <span>{{ post.author.get_full_name }}</span>
            </a>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2"> {{ post.counted_view }} بازدید</li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
            <ul class="card-meta-tag list-inline">
                {% for category in post.category.all %}
                <li class="list-inline-item small"><a href="{% url 'blog:category' cat_name=category.name %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            </li>
        </ul>
        </div>
        </article>
    </div>
{% endfor %}