{% extends 'base.html' %}
{% load static %}

{% block navbar %}
  <section class="page-header section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-title h2 mb-3"><span>همه پست ها</span></h1>
          <ul class="list-inline breadcrumb-menu mb-3">
            <li class="list-inline-item">
              <a href="{% url 'website:index' %}"><i class="ti ti-home"></i> <span>خانه</span></a>
            </li>
            <li class="list-inline-item">
              • &nbsp; <a href="{% url 'blog:index' %}"><span>همه پست ها</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row gy-5 gx-4 g-xl-5">
      {% for post in posts %}                            
          {# is even #}
          <div class="col-lg-6">
            <article class="card post-card h-100 border-0 bg-transparent">
              <div class="card-body">
                <a class="d-block" href="{% url 'blog:single' pid=post.id %}" title={{ post.title }}></a>

                <a class="d-block" href="{% url 'blog:single' pid=post.id %}" title={{ post.title }}>
                  <div class="post-image position-relative">
                    <img class="w-100 h-auto rounded" src={{ post.image.url }} alt={{ post.title }} width="970" height="auto">
                  </div>
                </a>

                <ul class="card-meta list-inline mb-3">
                  <li class="list-inline-item mt-2">
                    <i class="ti ti-calendar-event"></i>
                    <span>{{ post.published_date | date:"M Y" }}</span>
                  </li>
                  <li class="list-inline-item mt-2">—</li>
                  <li class="list-inline-item mt-2">
                    <i class="ti ti-clock"></i>
                    <span>{{ post.read_duration_minutes }} دقیقه خوانش</span>
                  </li>
                </ul>
                <a class="d-block" href="{% url 'blog:single' pid=post.id %}" title={{ post.title }}><h3 class="mb-3 post-title">{{ post.title }}</h3></a>
                <p>{{ post.content | truncatewords:40 | linebreaks }}</p>
              </div>
              <div class="card-footer border-top-0 bg-transparent p-0">
                <ul class="card-meta list-inline">
                  <li class="list-inline-item mt-2">
                    <a href="{% url 'blog:author' author_username=post.author.username %}" class="card-meta-author">
                      توسط 
                      <span>{{ post.author.get_full_name }}</span>
                    </a>
                  </li>
                  </li>
                  <li class="list-inline-item mt-2">•</li>
                  <li class="list-inline-item mt-2"> {{ post.counted_view }} بازدید</li>
                  <li class="list-inline-item mt-2">•</li>
                  <li class="list-inline-item mt-2">
                    <ul class="card-meta-tag list-inline">
                      {% for category in post.category.all %}
                        <li class="list-inline-item small"><a href="{% url 'blog:category' cat_name=category.name %}">{{ category.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  
                </ul>
              </div>

            </article>
          </div>
        
      {% endfor %}

      {% comment %}Pagination Part{% endcomment %}

      {% comment %} <div class="col-12">
        <!-- pagination -->
        <nav class="text-center mt-5">
          <ul class="pagination justify-content-center border border-white rounded d-inline-flex">
            <li class="page-item">
              <a class="page-link rounded w-auto px-4" href="blog.html" aria-label="Pagination Arrow">قبلی</a>
            </li>
            <li class="page-item active">
              <a href="blog.html" class="page-link rounded">1</a>
            </li>
            <li class="page-item">
              <a href="blog.html" class="page-link rounded">2</a>
            </li>
            <li class="page-item mt-2 mx-2">...</li>
            <li class="page-item">
              <a class="page-link rounded" href="blog.html" aria-label="Pagination Arrow">16</a>
            </li>
            <li class="page-item">
              <a class="page-link rounded w-auto px-4" href="blog.html" aria-label="Pagination Arrow">بعدی</a>
            </li>
          </ul>
        </nav>
      </div> {% endcomment %}
    </div>
  </div>
{% endblock %}
